<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='<?= BASE_URL ?>/js/jquery.min.js'>"+"<"+"/script>");
</script>
<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='<?= BASE_URL ?>/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='<?= BASE_URL ?>/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="<?= BASE_URL ?>/js/bootstrap.min.js"></script>
<!--[if lte IE 8]>
<script src="<?= BASE_URL ?>/js/excanvas.min.js"></script>
<![endif]-->
<script src="<?= BASE_URL ?>/js/jquery-ui.custom.min.js"></script>
<script src="<?= BASE_URL ?>/js/jquery.ui.touch-punch.min.js"></script>
<script src="<?= BASE_URL ?>/js/ace-elements.min.js"></script>
<script src="<?= BASE_URL ?>/js/bootbox.min.js"></script>
<script src="<?= BASE_URL ?>/js/ace.min.js"></script>

<script src="<?= BASE_URL ?>/js/jquery.dataTables.min.js"></script>
<script src="<?= BASE_URL ?>/js/jquery.dataTables.bootstrap.js"></script>

<!-- the following scripts are used in demo only for onpage help and you don't need them -->
<link rel="stylesheet" href="<?= BASE_URL ?>/css/ace.onpage-help.css" />
<script src="<?= BASE_URL ?>/js/ace/elements.onpage-help.js"></script>
<script src="<?= BASE_URL ?>/js/ace/ace.onpage-help.js"></script>


