<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title><?php echo $title?></title>
    <meta name="description" content="Restyling jQuery UI Widgets and Elements" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <?php include VIEW_PATH . '/header.html' ?>
    <link rel="stylesheet" href="<?= BASE_URL ?>/css/webuploader.css" />
    <style type="text/css">
        .CSSearchTbl{ border:1px #008CD4 solid;}
        .CSSearchTbl thead{}
        .CSSearchTbl thead tr{}
        .CSSearchTbl thead tr th{  text-align:left; padding-left:10px;}
        .CSSearchTbl tbody{}
        .CSSearchTbl tbody tr{}
        .CSSearchTbl tbody tr td{  padding: 10px;}
        .CSSearchTbl tbody tr td.right{ text-align: left;}
        .CSSearchTbl tbody tr td.left{ text-align: right;}
        .table-responsive{ display: none;}
        #WU_FILE_0{width: 31%;margin-left: 25%;}
    </style>
</head>

<body class="no-skin">
<?php include VIEW_PATH . '/top.html' ?>

<!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container">

    <?php include VIEW_PATH . '/sidebar.html' ?>

    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="index.html">财经早知道</a>
                </li>
                <li>
                    <a href="javascript:void(0)">编辑文章</a>
                </li>
            </ul><!-- /.breadcrumb -->

            <!-- #section:basics/content.searchbox -->
            <div class="nav-search" id="nav-search">
                <form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="请输入关键字 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
                </form>
            </div><!-- /.nav-search -->
        </div>

        <!-- /section:basics/content.breadcrumbs -->
        <div class="page-content">

            <div class="page-content-area">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" role="form" onsubmit="return false;">

                            <h1>顶部区域</h1>
                            <!-- #section:elements.form -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> 语音上传：</label>
                                <div id="uploader" class="wu-example">


                                    <div class="btns">
                                        <div id="picker">选择文件</div>
                                        <div id="ctlBtn" class="btn btn-default" style="position: absolute;margin-left:31%;margin-top:-46px;">开始上传</div>
                                    </div>
                                    <!--用来存放文件信息-->
                                    <div id="thelist" class="uploader-list"></div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="company"> 语音路径：</label>

                                <div class="col-sm-9">
                                    <input type="text" id="audio" value="<?php if(isset($page['audio'])) {echo $page['audio'];}?>" name="audio" readonly="readonly" placeholder="" class="col-xs-10 col-sm-5" />
                                </div>
                            </div>


                            <!--<div class="col-sm-9" style="margin-left:355px;">-->
                                <!--<input type="text" id="audio" name="audio" placeholder="" class="col-xs-10 col-sm-5" />-->
                            <!--</div>-->

                            <h1>大盘指数区域</h1>


                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">大盘指数： </label>
                                <div class="col-sm-9">
                                    <input type="text"  name="stock_market[]" value="<?php if(isset($page['stock_market'][0])) {echo $page['stock_market'][0];}?>" class="col-xs-10 col-sm-5"  placeholder=" 格式: 上证指数/3393.5/+4.91/0.28% "/>
                                    <input type="text"   name="stock_market[]" value="<?php if(isset($page['stock_market'][1])) {echo $page['stock_market'][1];}?>" class="col-xs-10 col-sm-5" style="margin-left:20px;" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">大盘指数： </label>
                                <div class="col-sm-9">
                                    <input type="text"  name="stock_market[]" value="<?php if(isset($page['stock_market'][2])) {echo $page['stock_market'][2];}?>" class="col-xs-10 col-sm-5" />
                                    <input type="text" name="stock_market[]"  value="<?php if(isset($page['stock_market'][3])) {echo $page['stock_market'][3];}?>" class="col-xs-10 col-sm-5" style="margin-left:20px;" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">大盘指数： </label>
                                <div class="col-sm-9">
                                    <input type="text" name="stock_market[]"  value="<?php if(isset($page['stock_market'][4])) {echo $page['stock_market'][4];}?>" class="col-xs-10 col-sm-5" />
                                    <input type="text" name="stock_market[]"  value="<?php if(isset($page['stock_market'][5])) {echo $page['stock_market'][5];}?>" class="col-xs-10 col-sm-5" style="margin-left:20px;" />
                                </div>
                            </div>




                            <div class="space-4"></div>

                            <h1>产品模块</h1>


                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="company"> 公司名称：</label>

                                <div class="col-sm-9">
                                    <input type="text" id="company" value="<?php if(isset($page['company'])) {echo $page['company'];}?>" name="company" placeholder="" class="col-xs-10 col-sm-5" />
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="strategy"> 资产配置策略：</label>

                                <div class="col-sm-9">
                                    <input type="text" id="strategy" value="<?php if(isset($page['asset_strategy'])) {echo $page['asset_strategy'];}?>" name="strategy" placeholder="资产配置策略" class="col-xs-10 col-sm-5" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="introduce"> 推荐理由：</label>

                                <div class="col-sm-9">
                                    <input type="text" id="introduce" name="introduce" value="<?php if(isset($page['introduce'])) {echo $page['introduce'];}?>" placeholder="推荐理由" class="col-xs-10 col-sm-5" />
                                </div>
                            </div>



                            <h1>底部区域</h1>


                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="qr_code"> 二维码：</label>

                                <!--dom结构部分-->
                                <div id="uploader-demo">
                                    <!--用来存放item-->
                                    <div id="fileList" class="uploader-list"></div>
                                </div>
                                <div class="col-sm-9" style="margin-left:25%;margin-top:-1px;">
                                    <div id="filePicker">选择图片</div>
                                    <input type="text" id="qr_code" readonly="readonly"  value="<?php if(isset($page['qr_code'])) {echo $page['qr_code'];}?>" name="qr_code" placeholder="" class="col-xs-10 col-sm-5" />
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="link"> 文章链接：</label>

                                <div class="col-sm-9">
                                    <input type="text" id="link" value="<?php if(isset($page['link'])) {echo $page['link'];}?>" name="link" placeholder="文章链接" class="col-xs-10 col-sm-5" />
                                </div>
                            </div>

                            <input type="hidden" value="<?php if(isset($page['id'])) {echo $page['id'];}?>" name="hidden_page_id"/>

                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info add_article" type="button">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        立即提交
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>

                        </form>

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content-area -->
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->

    <?php include VIEW_PATH . '/footer-copyright.html' ?>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<?php include VIEW_PATH . '/footer.html' ?>

<script src="<?= BASE_URL ?>/js/webuploader.min.js"></script>
<script>

    var uploader = WebUploader.create({

        // 文件接收服务端。
        server: '<?php echo UPLOAD_URL;?>',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#picker',

        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
        resize: false
    });


    $('#ctlBtn').on('click', function(){
        uploader.upload();
        return ;
    });

    // 当有文件被添加进队列的时候
    uploader.on( 'fileQueued', function( file ) {
        var list = $("#thelist");
        list.append( '<div id="' + file.id + '" class="item">' +
            '<h4 class="info">' + file.name + '</h4>' +
            '<p class="state">等待上传...</p>' +
            '</div>' );
    });

    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
        var $li = $( '#'+file.id ),
            $percent = $li.find('.progress .progress-bar');

        // 避免重复创建
        if ( !$percent.length ) {
            $percent = $('<div class="progress progress-striped active">' +
                '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                '</div>' +
                '</div>').appendTo( $li ).find('.progress-bar');
        }

        $li.find('p.state').text('上传中');

        $percent.css( 'width', percentage * 100 + '%' );
    });


    uploader.on( 'uploadSuccess', function( file , response) {
        var raw = response._raw;
        raw = JSON.parse(raw);
        var savename = raw[0].savename;
        $("input[name=audio]").val('<?php echo IMG_URL;?>' + savename);
    });

    uploader.on( 'uploadError', function( file ) {
        $( '#'+file.id ).find('p.state').text('上传出错');
    });

    uploader.on( 'uploadComplete', function( file ) {
        $( '#'+file.id ).find('.progress').fadeOut();
    });





    // 二维码上传
    var uploader2 = WebUploader.create({

        auto: true,

        // swf文件路径
//        swf: BASE_URL + '/js/Uploader.swf',

        // 文件接收服务端。
        server: '<?php echo UPLOAD_URL;?>',

        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#filePicker',

        // 只允许选择图片文件。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });


    // 当有文件添加进来的时候
    uploader2.on( 'fileQueued', function( file ) {
        console.log(file.id + file.name);
//        var $li = $(
//                '<div id="' + file.id + '" class="file-item thumbnail">' +
//                '<img>' +
//                '<div class="info">' + file.name + '</div>' +
//                '</div>'
//            ),
//            $img = $li.find('img');
//
//        $list = $("#fileList");
//        // $list为容器jQuery实例
//        $list.append( $li );
//
//        // 创建缩略图
//        // thumbnailWidth x thumbnailHeight 为 100 x 100
//        var thumbnailWidth = 100;
//        var thumbnailHeight = 100;
//        uploader2.makeThumb( file, function( error, src ) {
//            if ( error ) {
//                $img.replaceWith('<span>不能预览</span>');
//                return;
//            }
//
//            $img.attr( 'src', src );
//        }, thumbnailWidth, thumbnailHeight );
    });


    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader2.on( 'uploadSuccess', function( file , response) {
        var raw = response._raw;
        raw = JSON.parse(raw);
        var savename = raw[0].savename;
//        alert('服务器返回的名字为: ' + savename);
        $('#qr_code').val('<?php echo IMG_URL;?>' + savename);
        $( '#'+file.id ).addClass('upload-state-done');
    });

    // 文件上传失败，显示上传出错。
    uploader2.on( 'uploadError', function( file ) {
        var $li = $( '#'+file.id ),
            $error = $li.find('div.error');

        // 避免重复创建
        if ( !$error.length ) {
            $error = $('<div class="error"></div>').appendTo( $li );
        }

        $error.text('上传失败');
    });

    // 完成上传完了，成功或者失败，先删除进度条。
    uploader2.on( 'uploadComplete', function( file, response ) {
        $( '#'+file.id ).find('.progress').remove();
    });



    $(".add_article").on('click', function(){
        $.ajax({
            url : '/finance/add',
            type : 'POST',
            data : $("form").serialize(),
            dataType: 'JSON',
            success : function(msg) {
                if (msg.status) {
                    alert(msg.msg);
                    window.location.href = '/finance/add';
                } else {
                    alert(msg.msg);
                    return ;
                }
            },
            error : function(msg) {
                alert(msg.msg);
            }
        });
    });
</script>
</body>
</html>
