<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=2, minimum-scale=1, user-scalable=no">
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="screen-orientation" content="portrait">
    <link href='<?= BASE_URL ?>/css/form.css' rel='stylesheet' type='text/css'>
    <style type="text/css">
        .audio_box{
            padding:0;
            overflow: hidden;
            width: 95%;
            height: 0.6rem;
        }
        .wx_window{
            width: 90%;
            position: absolute;
            top: 1.4rem;
            left: 50%;
            margin-left: -45%;
            background: #ffffff;
            border-radius: 0.08rem;
        }
        .wx_box{
            width:90%;
            margin-left:auto;
            margin-right:auto;
            position:relative;
            top:0.4rem;
        }
        .wx_text{
            margin-top:0.05rem;
            color:#dcdcdc;
            font-size: 0.32rem
        }
        .wx_hr{
            width:98%;
            height:1px;
            margin-left:1%;
            margin-top:0.4rem;
            border-bottom:1px solid #DCDCDC;
        }

    </style>
    <title>有恒财富早餐</title>
</head>
<body  class="font_to_normal">
<section>
    <?php if ($is_share) {?>
        <div class="top_fixed">
            <div class="person_img fl mt15 ml30">
                <img src="<?php echo $user['headimgurl'];?>" class="person_img">
            </div>
            <div class="want_to_do fl ml20">想投资，咨询我？</div>
            <div class="fr contact mr20">
                <?php if (!empty($user['phone'])) {?>
                    <a href="tel:<?php echo $user['phone'];?>"><span class="contact_way ml20">电话</span></a>
                <?php  }?>
                <?php if (!empty($user['code'])) {?>
                    <span class="contact_way pop_wechat ml20">微信</span>
                <?php }?>
            </div>
            <div class="cf"></div>
        </div>
        <div class="top_space"></div>
    <?php }?>
    <div class="middle_box">
        <div class="inner_box1">
            <div class="pt90 fl">
                <h1 class="text_name"><?php echo $user['name'];?></h1>
                <div class="text_index">
                    <?php if (!empty($user['job'])) { ?>
                    <div>职位：<?=$user['job']?></div>
                    <?php } ?>
                    <?php if (!empty($user['city'])) { ?>
                        <div>城市：<?=$user['city']?></div>
                    <?php } ?>
                    <div>公司：<?php echo $user['company'];?></div>
                    <div>电话：<?php echo $user['phone'];?></div>
                </div>
            </div>
            <div class="poa top_bg pt90">
                <div class="img_name"><img src="<?php echo $user['headimgurl'];?>" class="img_css2"></div>
            </div>
            <div class="cf"></div>
        </div>
        <div class="inner_box2 pt26 pb45">
            <div>签名:</div>
            <div class="mt7"><?php echo $user['introduce'];?></div>
            <?php if (!$is_share) { ?>
                <div class="tr">
                    <i class="edit_icon"></i>
                    <a class="edit_text" href="/user/index">编辑个人资料</a>
                </div>

                <a class="add_blue tc add_user">
                    <i class="add_icon poa"></i>
                    <span>添加信息</span>
                </a>
            <?php } ?>
        </div>
    </div>
    <div class="middle_box pb26">
        <div class="redio_box">
            <div class="fl redio_btn"></div>
            <div class="fl ml20 mt32">
                <div class="redio_tit full_in1"><?php echo date('Y.m.d', time());?> 财经早餐播报</div>
                <div class="redio_text full_in1">来自有恒财富管理研究院</div>
                <audio controls="controls" class="audio_box mt10 dis-b">
                    <source src="<?php echo $page_info['audio'];?>" type="audio/mpeg" />
                </audio>

                <!--<div class="process_box"></div>-->
                <!--<div class="process_text">-->
                    <!--<div class="fl">00:00</div>-->
                    <!--<div class="fr">10:10</div>-->
                    <!--<div class="cf"></div>-->
                <!--</div>-->
                <!--<div class=""></div>-->
            </div>
            <div class="cf"></div>
        </div>
        <div class="title mt60 mb54">
					<span class="caption">
						<span class="line line-l"></span>大盘指数<span class="line line-r"></span>
					</span>
        </div>
        <div style="border:1px solid #ececec;padding:5px;">
            <ul class="flex-ul tc inner_box1">
                <?php if (!empty($page_info['stock'])) {  foreach ($page_info['stock'] as $key => $val) { if ($key <= 2) {?>
                    <li>
                        <div class="li_tit"><?php echo $val[0];?></div>
                        <div class="<?php if ($val[2] < 0) {echo 'li_num1';} else {echo 'li_num3';}?>">
                            <span><?php echo $val[1][0];?>.</span>
                            <span class="li_small"><?php echo $val[1][1];?></span><!--此处需要截取小数点后面2位显示-->
                        </div>
                        <div class="li_num2">
                            <div class="fl ml10"><?php echo $val[2];?></div>
                            <div class="fr mr10"><?php echo $val[3];?></div>
                            <div class="cf"></div>
                        </div>
                    </li>
                <?php }}}?>
            </ul>
            <ul class="flex-ul tc">
                <?php if (!empty($page_info['stock'])) {  foreach ($page_info['stock'] as $key => $val) { if ($key > 2) {?>
                <li>
                    <div class="li_tit"><?php echo $val[0];?></div>
                    <div class="<?php if ($val[2] < 0) {echo 'li_num1';} else {echo 'li_num3';}?>">
                        <span><?php echo $val[1][0];?>.</span>
                        <span class="li_small"><?php echo $val[1][1];?></span><!--此处需要截取小数点后面2位显示-->
                    </div>
                    <div class="li_num2">
                        <div class="fl ml10"><?php echo $val[2];?></div>
                        <div class="fr mr10"><?php echo $val[3];?></div>
                        <div class="cf"></div>
                    </div>
                </li>
                <?php }}}?>
            </ul>
        </div>
        <div class="bottom_text1 tc">截止昨天收盘报价</div>
    </div>

    <?php if (!empty($articles)) { foreach ($articles as $article) {?>
        <div class="middle_box mt13 pb50">
            <div class="title mt60">
                        <span class="caption">
                            <span class="line line-l"></span><?php echo $article['module'];?><span class="line line-r"></span>
                        </span>
            </div>
            <ul class="ul_text">
                <?php if (!empty($article['content'])) { foreach ($article['content'] as $val) {?>
                 <li>
                    <div><h2 class="second_tit"><i class="blue_dot"></i>&nbsp;<?php echo $val['title'];?></h2></div>
                    <div class="mt19">
                        <span class="tag_icon"><?php echo $val['author'];?></span>

                        <span class="ml10"><?php echo filter_tag($val['editor_content']);?></span>
                    </div>
                </li>
                <?php }}?>

            </ul>
        </div>
    <?php }}?>
    <div class="bottom_box mt13 pb50">
        <?php if (!empty($product['company'])) { ?>
            <div class="title mt60">
                        <span class="caption">
                            <span class="line line-l"></span>今日推荐<span class="line line-r"></span>
                        </span>
            </div>
            <div class="mt50 intro_box">
                <div class="tc red_fnt1"><?php echo $product['company'];?></div>
                <div class="intro_text inner_box1">
                    <div>资产配置策略：</div>
                    <div>
                        <?php echo $product['asset_strategy'];?>
                    </div>
                </div>
                <div class="blue_text mt20">
                    推荐理由：<?php echo $product['introduce'];?>
                </div>
            </div>
        <?php }?>
        <div class="code_img"></div>
        <a class="blue_text1 tc" href="<?php echo $page_info['link'];?>">扫码免费制作 → 名片早餐</a>
    </div>
</section>

<div class="mask wx_mask" style="display: none;">
    <div class="wx_window">
        <div class="wx_box">
            <img src="<?php echo $user['code'];?>" style="width:100%;" >
            <div class="wx_text tc">长按识别二维码，加我微信</div>
        </div>
        <div class="wx_hr"></div>
        <a href="javascript:;" class="tc ok_btn">确定</a>
    </div>
</div>

<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                if(clientWidth>=640){
                    docEl.style.fontSize = '100px';
                }else{
                    docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                }
            };

        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
<script src="<?= BASE_URL ?>/js/jquery.min.js"></script>
<script src="<?= BASE_URL ?>/js/check.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">

    wx.config(<?php echo $js_sdk->config(array('onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo'), false) ?>);

    wx.ready(function(){
        var ouid = '<?php echo $ouid;?>';
        var wx_domain = '<?php echo urlencode("#mp.weixin.qq.com");?>';
        var link = 'http://wealth-market.smallwolf.cn/index/show?ouid=' + ouid + wx_domain; // 分享链接
        var title = "<?php if (isset($wx_share['title'])){echo $wx_share['title'];}?>";
        var imgUrl = "<?php echo $user['headimgurl']; ?>";
        var desc = "<?php if (isset($wx_share['description'])){echo $wx_share['description'];}?>";
        wx.onMenuShareTimeline({
            title: title,
            link:  link,
            imgUrl: imgUrl,
            success: function () {},
            cancel: function () {}
        });
        wx.onMenuShareAppMessage({
            title: title,
            desc: desc,
            link: link,
            imgUrl: imgUrl,
            type: '',
            dataUrl: '',
            success: function () {},
            cancel: function () {}
        });
    });
    wx.error(function(res){
    });
</script>

<script>
//    var wx_height=$('.wx_window').height();
//    var window_height=parseInt($(window).height())*0.5;
//    wx_height=window_height-parseInt(wx_height)*0.5;
//    $('.wx_window').css('marginTop',wx_height);
    $(".add_user").on('click', function(){
       window.location.href = '/product/index';
    });

    $(".pop_wechat").on('click', function(){
        $('.wx_mask').show();

    });

    $(".ok_btn").on('click', function(){
        $('.wx_mask').hide();
    });


</script>
</body>
</html>